body {
    background-color: antiquewhite;
    
}

hr {
    color: gray;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    width: 5%;
}

.subtext {
    color: #c59b56; 
}

.subtext:hover {
    color: #85683a; 
    transition-delay: 0.5s;
}

.pfp {
    border-radius: 100%;
}