body {
    background-color: antiquewhite;
    
}

hr {
    color: gray;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
    width: 5%;
}

h1, h3 {
    color: #c59b56;
}

.pfp {
    border-radius: 100%;
}